<ul>
    <li>
        <a href="/tienda/vista/inicio">Inicio</a>
    </li>
    <li>
        <a href="/tienda/vista/crear">Crear</a>
    </li>
    <li>
        <a href="/cuenta">Cuenta</a>
    </li>
</ul>