<!-- unordered list -->
<ul>
    <!-- List Item -->
    <li>
        <!-- Anchor(Ancla) -->
        <a href="/usuario/vista/inicio">inicio</a>
    </li>
    <li>
        <a href="/usuario/vista/faq">F.A.Q.</a>
    </li>
    <li>
        <a href="/usuario/vista/login">login</a>
    </li>
</ul>


